body {
    background-color: #0E0F19;
    font-family: "Roboto", sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto 20px;
}

button {
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    color: white;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 5px;
}

input {
    padding: 15px 15px;
    border-radius: 5px;
    border: none;
    background-color: #2A7B9B;
    color: white;
    font-size: 20px;
    width: 100%;
}

::placeholder {
    color: #fff;
    font-size: 20px;
}

li {
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    list-style: none;
    margin: 10px 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    display: flex;
    align-items: center;
    gap: 10px;
}

.tasks ul {
    padding: 0;
}

#clear {
    width: 100%;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
    }

    .input {
        flex-direction: column;
    }

    #clear,
    #btn,
    #input {
        width: 100%;
    }
}
